/*Keep Footer On Bottom!*/

html,
body {
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  font-size: 15px;
   margin:0;
   padding:0;
   height:100%;
   -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	background-color:black;
}

#main {
		background-color:black;
}
#container {
   width:950px;
  min-height:100%;
   margin:auto;
   background-color:black;
   position:relative;
}

#body {
   padding-bottom:115px;   /* Height of the footer */
}

#header {
	background:#505050;
	height:115px;
	margin-top:10px;
}

#footer {
   	position:absolute;
   	bottom:0;
   	width:100%;
   	height:115px;   /* Height of the footer */   
}

#header .content, #footer .content  {
	margin:0px;
	padding:10px;
	background:#505050;
	width:930px;
	text-align:center;
	}

p {
	color:white;
	margin:10px 0 10px 0;
}

ul {
	margin:10px 0 10px 15px;;
	padding:5px;
	color:#181818;
	list-style-type:disc;
	}

ul li {
	padding:1px 0 1px 0;
}	

img {margin:0px;border:none;}

a {color:yellow;}

h1, h2, h3 {
	color:white;
	font-weight:bold;
	}

h1 {font-size:30px;margin:10px 0 10px 0;}
h2 {font-size:25px;margin:10px 0 10px 0;}
h3 {font-size:20px;margin:10px 0 10px 0;}


div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  	color: green;
	background-color:yellow;
	padding:25px;
	margin-top:10px;
}

#notice a {
	color:blue;
}

#notice h3 {
	color:green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
background-color:white;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

input {padding:4px;}

#start {
	margin-top:10px;
	background-color:#62c849;
	padding:10px;
	text-align:center;
}

#contribute, #see_how_it_works  {
	margin-top:10px;
	background-color:#6983bc;
	padding:4px;
}

#see_how_it_works  {
	font-size:25px;
	min-width:95px;
	padding:50px;
	min-height:100%;
}

#logo {
	float:left;
	min-width:200px;
}

#phrase {
	border:2px solid #382D2C;
	background-color:black;
	padding:2px;
	font-size:12;
	margin-top:3px;
	height:84px;
	position:relative;
	color:white;
	width:680px;
	float:left;
	font-size:12px;
	}
	
#phrase .image {
	padding:1px;
	background-color:white;
	color:black;
	width:60px;
	border:none;
	margin:3px;
	filter: alpha(opacity=85); /* internet explorer */
		-khtml-opacity: .85;      /* khtml, old safari */
		-moz-opacity: 0.85;       /* mozilla, netscape */
		opacity: 0.85;           /* fx, safari, opera */
	}
#phrase .image img {width:60px;}	

.content {
	background-color:#8e87ec;
	padding:10px;
 	margin:10px 0 10px 0;
}
	
.center {
	text-align:center;
	width:900px;
	margin:auto;
}
	
.highlight {background-color:#6983bc;color:black;padding:4px;font-weight:bold;}

#add_image, #change_image {display:none;}

#current_word {display:none;}	

#search_form {display:none;}

#images img {background-color:white;width:180px;}

#images {

	padding:5px 0 5px 0;
}
.image {padding:2px;;float:left;margin:1px;background-color:white;
	text-align:center;
	margin:3px;
	cursor:pointer;}


#more, #back {
	background-color:#F75D59;
	background-image:url(/images/back.png);
	background-repeat:no-repeat;
	height:85px;
	float:left;
	width:185px;
	margin:2px;
	border:3px solid #150517;
	color:black;
	font-size:25px;
	font-weight:bold;
	cursor:pointer;
	}

#more {
	background-image:url(/images/more.png);
	background-color:lightblue;
}	

#restart {
	width:75px;
	height:85px;
	border:3px solid black;
	background-image:url(/images/restart.png);
	background-color:gray;
	background-repeat:no-repeat;
	float:left;
	margin:0 225px 0 225px;
}

#home, #play {
	width:75px;
	height:90px;
	border:3px solid black;
	background-image:url(/images/home.png);
	background-repeat:no-repeat;
	float:left;
	margin-left:5px;
	cursor:pointer;
}

#play {
	margin-left:5px;
	background-color:#6bf464;
	background-image:url(/images/speak.png);
	background-position:center;
	cursor:pointer;
	width:125px;
}	

#home {
	background-color:gray;
	margin-left:15px;
}

.round_corners {
	-moz-border-radius: 10px; /* Firefox */
  	-webkit-border-radius: 10px; /* Safari, Chrome */
  	border-radius: 10px; /* CSS3 */
}

.box-shadow {
  -moz-box-shadow:inset 0 0 20px black;
   -webkit-box-shadow:inset 0 0 20px black;
   box-shadow:inset 0 0 20px black;
}

.container-shadow {
	  -moz-box-shadow: 0 10px 10px #000; /* Firefox */
	  -webkit-box-shadow: 0 10px 10px #000; /* Safari, Chrome */
	  box-shadow: 0 10px 10px #000; /* CSS3 */
}