/*Keep Footer On Bottom!*/

html,
body {
  font-family: tahoma, verdana, arial, helvetica, sans-serif;
  font-size: 15px;
   margin:0;
   padding:0;
   height:100%;
   -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

#container {
   background-color:black;
   min-height:100%;
   position:relative;

}

#header {
   	padding:10px;
	background:#505050;
}

#body {
   padding-bottom:90px;   /* Height of the footer */

}


#footer {
	text-align:center;
   	position:absolute;
   	bottom:0;
   	width:100%;
   	height:80px;   /* Height of the footer */   
	text-align:gray;
	background:#505050;
}

p {
	color:white;
	margin:10px 0 10px 0;
}

ul {
	margin:10px 0 10px 15px;;
	padding:5px;
	color:#181818;
	list-style-type:disc;
	}

ul li {
	padding:1px 0 1px 0;
}	

img {margin:2px;border:none;}

a {color:yellow;}

h1, h2, h3 {
	color:white;
	font-weight:bold;
	}

h1 {font-size:30px;margin:10px 0 10px 0;}
h2 {font-size:25px;margin:10px 0 10px 0;}
h3 {font-size:20px;margin:10px 0 10px 0;}


div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  	color: green;
	background-color:yellow;
	padding:25px;
	margin-top:10px;
}

#notice a {
	color:blue;
}

#notice h3 {
	color:green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
background-color:white;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


#start {
	margin-top:10px;
	background-color:#62c849;
	padding:10px;
	text-align:center;
}

#contribute, #see_how_it_works  {
	margin-top:10px;
	background-color:#6983bc;
	padding:10px;
}

#home {
	float:right;
}

#logo {
	float:left;
}

.content {
	background-color:#8e87ec;
	padding:10px;
 	margin:10px 0 10px 0;
}

.big_input {
	font-size:20px;
	padding:4px;
	}
	
.center {
	text-align:center;
	width:900px;
	margin:auto;
	}
	
	
#current_word {display:none;}	


.highlight {background-color:#6983bc;color:black;padding:4px;font-weight:bold;}

input {padding:4px;}

#add_image, #change_image {display:none;}

#images, #search_form {display:none;}

#images img {padding:5px;background-color:white;}
