/* Keep footer on bottom, prior css overidden */

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   background-color:black;
   min-height:100%;
   position:relative;

}
#header {
   	padding:10px;
	background:#505050;

}

#body {

   padding-bottom:90px;   /* Height of the footer */

}
#footer {
	text-align:center;
   	position:absolute;
   	bottom:0;
   	width:100%;
   	height:80px;   /* Height of the footer */   
	text-align:gray;
	background:#505050;

}

#footer a {color:black;}

.content {padding:10px;}

.vote_count {padding:5px 15px 5px 15px;font-size:18px;text-align:center;}

table
{
border-collapse:collapse;
}
table {width:100%;}