<div id="footer">
	<div class="content box-shadow">
		<div id="back" class="round_corners box-shadow">
		</div>
		<div id="restart" class="round_corners box-shadow">

		</div>

		<div id="more" class="round_corners box-shadow">
		</div>
		<br style="clear:both;"/>
	</div>
</div>