<div id="footer">
	<div class="content">
		<div id="back" class="round_corners box-shadow">
		</div>
		<%= link_to '<div id="restart" class="round_corners box-shadow"></div>'.html_safe, images_path %>
		<div id="categories" class="round_corners box-shadow"></div>
		<div id="more" class="round_corners box-shadow">
		</div>
		<br style="clear:both;"/>
	</div>
</div>