<div id="header">
	<div class="content  box-shadow">
		<div id="phrase">
		</div>
		<div id="play" class="round_corners box-shadow">
		</div>
		<%= link_to '<div id="home" class="round_corners box-shadow"></div>'.html_safe, root_url%>
		<br style="clear:both;"/>
	</div>
</div>