<div id="header">
	<div id="start">
		<div class="logo">
			<%= link_to(image_tag('logo.png'), root_url)%>
		</div>
		<div class="start">
			<a href=""><img alt="Free ACC Logo" src="/images/start.png" /></a>
		</div>
		<br style="clear:both;"/>
	</div>	
</div>