<div id="contribute">
<h1>Contribute</h1>
	<p>
		Contributing to FreeACC.org as an artist is easy. By uploading images which express words and ideas you help others express themselves.
	</p>
<h2>1) What Word?</h2>
	<div class="content">
		<p>
			test
		</p>
	</div>
<h2>2) Review Word And Prior Submissions</h2>
<div class="content">
	<p>
		test
	</p>
</div>
<h2>3) Upload Your Image</h2>
<div class="content">
	<p>
		test
	</p>
</div>
<h2>4) Terms And Conditions</h2>
<div class="content">
	<p>
		test
	</p>
</div>

</div>