<p id="notice"><%= notice %></p>

<% if @word.images.blank? %>
	<h3>
		<span class="highlight">
			This word needs an image in order to be included in Free ACC
		</span>
	</h3>
<% end %>

<%= link_to "Add an image", new_word_image_path(@word)%>

<h1>
	<%=  @word.english  %>
</h1>
<%= link_to 'Edit', edit_word_path(@word) %>


<% @word.images.each do |image| %>
	test
<% end %>



