<div id="image_form">


<a name="/images/new#add_image"></a>

<div class="content">


	<div id='image_requirements'>
	
	
		<%= render 'errors', :f => f %>
	
		<h3>
			Image requirements
		</h3>
	
		<ul>
			<li>Is file is actually a picture (must be a .jpg, .png, .gif).</li>
			<li>Is your picture a square? If not it wont't get uploaded!</li>
			<li>Is your picture the right dimensions? (400x400px is the correct size).</li>
			<li>Is your picture the right size? (must be less than 400kb).</li>
		</ul>		
	
	</div>

  <div class="field">
    <%= f.file_field :picture %>
	<%= f.hidden_field :word %>
  </div>
</div>

</div>