<h2>
	3) Terms and conditions
</h2>
	
<div id="terms_and_conditions_div">

	<div class="content">
		
			<ul>
				<li>
					I understand this
				</li>
				
				<li>
					And that is this
				</li>
				
				<li>
					When here is there
				</li>
			</ul>

		  	<p>
				<%= f.check_box :terms_and_conditions %> <b>I accept the terms and conditions</b>
				<%= f.submit 'Submit', :disable_with => "Submitting...", :disabled => true %>
			</p>

	</div>

</div>