<div id="contribute">

	<h1>
		Contribute
	</h1>

	<p>
		Contributing to FreeACC.org as an artist is easy. By uploading images which express words and ideas you help others express themselves.
	</p>

	<h2> 
		1) What is the word for the image you want to contribute?
	</h2>
	
	<%= render 'step_one' %>

	<%= form_for(@image, :html => {:multipart => true }) do |f| %>

		<%= render 'step_two', :f => f %>

		<%= render 'step_three', :f => f %>
		
	<% end %>
	
</div>