var word = '<%= params[:word] %>';

$("#image_word").val("<%= params[:word] %>");
$("#add_image").show();

<% if @images.blank? %>
	$("#images").append("<p>Looks like no images have been added for <span class='highlight'> "+ word +" </span></p>");
<% else %>
	$("#images").html("<p><%= escape_javascript(render(@images)) %></p>");
	$("#images").append("<p>Does your picture represent <b><%= params[:word]%></b> better than the latter pictures? If so go ahead and add an image.</p>");
<% end %>

